body{
  background-image: url(bodh-gaya.jpeg);
  background-size:cover;
}

.mainContainer{
  font-size: 40px;
  color: #ffff;
  font-weight: bold;
  display:flex;
  flex-flow:column wrap;
  justify-content: center;
  align-items: center;
}

.navmenu{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;

}

.navmenu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navmenu a:hover {
  background: #ddd;
  color: black;
}
